<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<html lang="en">


<h1>Action</h1>
<h3>This is a genre of movie, that typically include violence, extended fighting, and frantic chases. Major scenes include,
    explosions, car chases, fistfights and many more.</h3>

<ul>
    <li>The Matrix</li>
    <p>It is a science fiction film written and directed by Wachowskis, starring Keanu Reeves.</p>
    <li>The Dark Knight</li>
    <p>It is an ambitious, thoughtful, and potent action movie</p>
    <li>Captain Marvel</li>
    <p>It is an extraterrestrial warrior who finds herself caught in the middle of a battle.</p>
    <li>Avengers</li>
    <p>Stuck in space with no food or water, what will happen when Pepper Potts oxygen starts to dwindle?</p>
</ul>
<a href="Review.html" >Please Write a Review</a>


</body>
</html>