<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<html lang="en">


<h1>Comedy Movies</h1>
<h3>The main emphasis in this movie is humour. it is designed to make the viewers laugh</h3>

<ul>
    <li>Sideways</li>
    <p>One of the many tools put together, does not pair with the tittle of the movie, and it is like to inspire a buzz!.</p>
    <li>School of Rock</li>
    <p>Jack Black's manic energy quite his first collaboration with the musically inclined actor.</p>
    <li>Lost in Translation</li>
    <p>The height of the Rushmore is no less moody and moving, forming a friendship that is so ever involving</p>
    <li>The Grand Budapest Hotel</li>
    <p>The colors are fake, couple with the twisted narratives set during the time of turbulence</p>
</ul>
<a href="Review.html" >Please Write a Review</a>


</body>
</html>